<nav class="navbar fixed-top row navbar-light page-navbar-color">
    <a routerLink="/user/{{uid}}/website/{{wid}}/page"><i class="fas fa-less-than page-icons"></i></a>
    <div class="col">
        <a routerLink='/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget'><span id="h2-grey"><strong>Widgets</strong></span></a>
    </div>
    <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><i class="page-icons fas fa-plus float-right"></i></a>
</nav>

<!-- There are n rows for n items from widget-choose.html -->
<div class="container-fluid">
    <!-- Items -->
    <div *ngFor='let widget of widgets'>
        <div class="widget-icon-bg absolute-right ">
            <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}"><i class="fas fa-cog"></i></a>
            <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-bars"></i></a>
        </div>
        <div [ngSwitch]='widget.widgetType'>
            <div *ngSwitchCase="'HEADING'">
                <div [ngSwitch]='widget.size'>
                    <div *ngSwitchCase='1'>
                        <h1>{{widget.text}}</h1>
                    </div>
                    <div *ngSwitchCase='2'>
                        <h2>{{widget.text}}</h2>
                    </div>
                    <div *ngSwitchCase='3'>
                        <h3>{{widget.text}}</h3>
                    </div>
                    <div *ngSwitchCase='4'>
                        <h4>{{widget.text}}</h4>
                    </div>
                    <div *ngSwitchCase='5'>
                        <h5>{{widget.text}}</h5>
                    </div>
                    <div *ngSwitchCase='6'>
                        <h6>{{widget.text}}</h6>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'IMAGE'">
                <img [src]='widget.url' [style.width]='widget.width'>
            </div>
            <div *ngSwitchCase="'YOUTUBE'">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe [src]='parseYoutubeSrc(widget.url)' [style.width]='widget.width' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar fixed-bottom navbar-light page-navbar-color">
    <div class="full-width">
        <a routerLink='#'><i class="fas fa-play icon-position page-icons"></i></a>
        <a routerLink='#'><i class="fas fa-eye icon-position page-icons"></i></a>
        <a routerLink="/profile"><i class="fas fa-user float-right user-icons"></i></a>
    </div>
</nav>