<nav class="navbar fixed-top row navbar-light page-navbar-color">
    <a href="../Page_Pages/page-list.html"><i class="fas fa-less-than page-icons"></i></a>
    <div class="col">
        <span id="h2-grey"><strong>Widgets</strong></span>
    </div>
    <a href="widget-choose.html"><i class="page-icons fas fa-plus float-right"></i></a>
</nav>

<!-- There are n rows for n items from widget-choose.html -->
<div class="container-fluid">
    <!-- Item 1 -->
    <div class="absolute-right">
        <a href="#"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <h1><strong>REUTERS</strong></h1>
    </div>
    <!-- Item 2 -->
    <div class="absolute-right">
        <a href="widget-heading.html"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <h3><strong>More days of flooding ahead for Carolinas, surrounding states</strong></h3>
    </div>
    <!-- Item 3 -->
    <div class="absolute-right">
        <a href="widget-image.html"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <img src="https://s2.reutersmedia.net/resources/r/?m=02&d=20180917&t=2&i=1305109304&w=780&fh=&fw=&ll=&pl=&sq=&r=2018-09-17T015016Z_10123_MRPRC1F4D7C0760_RTRMADP_0_STORM-FLORENCE"
            alt="Oliver Kelly, 1 year old, cries as he is carried off the sheriff's airboat during his rescue from rising flood waters."
            class="img-fluid rounded">
    </div>
    <!-- Item 4 -->
    <div class="absolute-right">
        <a href="#"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <p>The remnants of deadly Hurricane Florence brought more misery to the waterlogged
            Carolinas on Monday with officials warning the worst is yet to come, as heavy rain persisted and
            swollen rivers posed a growing threat.
            Florence was a tropical depression on Monday with maximum
            sustained winds of 30 mph (45 kph) as it headed through Virginia and toward New England.
        </p>
        <p>With the rain and winds headed north, some residents in North and South Carolina started to return to
            their homes as the sun peeked through the clouds briefly for the first time in days.
        </p>
    </div>
    <!-- Item 5 -->
    <div class="absolute-right">
        <a href="widget-heading.html"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <h3><strong>Boring Co. test underground car elevator for high-speed Loop</strong></h3>
    </div>
    <!-- Item 6 -->
    <div class="absolute-right">
        <a href="widget-youtube.html"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div class="container row col-l-8 col-xs-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.youtube.com/embed/u5V_VzRrSBI" frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
    <!-- Item 7 -->
    <div class="absolute-right">
        <a href="#"><i class="fas fa-cog"></i></a>
        <a href="#"><i class="fas fa-bars"></i></a>
    </div>
    <div>
        <p>
            A Southern California city gave the go-ahead this week to Elon Musk's tunnel-digging venture, The
            Boring Company, to build an underground car elevator. Yes, a car elevator that would take your vehicle
            from your garage on street level to a below-ground
            chamber that connects to the Boring Company's growing tunnel network.
        </p>
        <p>
            Musk is deep in testing what he says will one day be an underground high-speed transportation system
            and the latest development is testing direct access from people's homes to the 100 mph-plus electric
            pod system in tunnels below. A 2-mile test tunnel in Hawthorne, California (just south of the Los
            Angeles International Airport) is
            almost complete, so this appears to be part of the next phase. The Boring Company, or TBC, headed back
            to the Hawthorne City Council Tuesday and got full approval to build a garage-connector test shaft.
        </p>
    </div>
</div>


<nav class="navbar fixed-bottom navbar-light page-navbar-color">
    <div class="full-width">
        <a href='#'><i class="fas fa-play icon-position page-icons"></i></a>
        <a href='#'><i class="fas fa-eye icon-position page-icons"></i></a>
        <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
    </div>
</nav>