<!-- .row initiates Bootstrap's grid system -->
<nav class="navbar fixed-top head-footer row">
  <div class="col">
      <span class="icon-position"><a routerLink="/user/{{uid}}"><i class="checkmark-grid fas fa-less-than"></i></a></span>
      <a routerLink='/user/{{uid}}/website'><span id="h2-white"><strong>Websites</strong></span></a>
      <span class="float-right icon-position"><a routerLink="/user/{{uid}}/website/new"><i class="checkmark-grid fas fa-plus"></i></a></span>
  </div>
</nav>
<div class="container-fluid">
  <!-- .list-group is similar to .form-group -->
  <ul class="list-group">
      <!-- .list-group-item is similar to .form-control for each form input -->
      <li class="list-group-item" *ngFor='let website of websites'>
          <a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
          <a routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog cog-right"></i></a>
      </li>
  </ul>
</div>
<nav class="navbar fixed-bottom head-footer">
  <div class="full-width">
      <a routerLink="/user/{{uid}}"><i class="fas fa-user float-right icons-right"></i></a>
  </div>
</nav>