<div>
    <nav class="navbar fixed-top row navbar-light page-navbar-color">
        <a href="widget-list.html"><i class="fas fa-less-than page-icons"></i></a>
        <div class="col">
            <span id="h2-grey"><strong>Widget Edit</strong></span>
        </div>
        <a href="widget-list.html"><i class="fas fa-check page-icons float-right"></i></a>
    </nav>
</div>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" placeholder="Heading Name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="text" class="form-label">Text</label>
            <input type="text" placeholder="More days of flooding ahead for Carolinas, surrounding states" id="text"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="size" class="form-label">Size</label>
            <input type="number" placeholder="3" id="size" class="form-control">
        </div>
        <a class="btn btn-danger btn-block" href="widget-list.html">Delete</a>
    </form>
</div>

<nav class="navbar fixed-bottom navbar-light page-navbar-color">
    <div class="full-width">
        <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
    </div>
</nav>