<nav class="navbar fixed-top row navbar-light page-navbar-color">
  <a href="page-list.html"><i class="fas fa-less-than page-icons"></i></a>
  <div class="col">
      <span id="h2-grey"><strong>Edit Page</strong></span>
  </div>
  <a href="page-list.html"><i class="page-icons fas fa-check float-right"></i></a>
</nav>

<div class="container-fluid">
  <form>
      <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" placeholder="Blog Post" class="form-control" id="name">
      </div>
      <div class="form-group">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Page Title">
      </div>
      <a class="btn btn-danger btn-block" href="page-list.html">Delete</a>
  </form>
</div>

<div class="container">
  <nav class="navbar fixed-bottom navbar-light page-navbar-color">
      <div class="full-width">
          <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
      </div>
  </nav>
</div>