<!-- Customize navbar color with .navbar-__ and .bg-__ -->
<nav class="navbar fixed-top row navbar-light page-navbar-color">
  <a href="../Website_Pages/website-list.html"><i class="fas fa-less-than page-icons"></i></a>
  <div class="col">
      <span id="h2-grey"><strong>Pages</strong></span>
  </div>
  <a href="page-new.html"><i class="page-icons fas fa-plus float-right"></i></a>
</nav>

<div class="container-fluid">
  <ul class="list-group">
      <li class="list-group-item"><a href="../Widget_Pages/widget-list.html">Blog Post</a>
          <a href="page-edit.html"><i class="fas fa-cog cog-right"></i></a></li>
      <li class="list-group-item"><a href="../Widget_Pages/widget-list.html">Blogs</a>
          <a href="page-edit.html"><i class="fas fa-cog cog-right"></i></a></li>
      <li class="list-group-item"><a href="../Widget_Pages/widget-list.html">Home</a>
          <a href="page-edit.html"><i class="fas fa-cog cog-right"></i></a></li>
      <li class="list-group-item"><a href="../Widget_Pages/widget-list.html">About</a>
          <a href="page-edit.html"><i class="fas fa-cog cog-right"></i></a></li>
      <li class="list-group-item"><a href="../Widget_Pages/widget-list.html">Contact Us</a>
          <a href="page-edit.html"><i class="fas fa-cog cog-right"></i></a></li>
  </ul>
</div>

<div class="container">
  <nav class="navbar fixed-bottom navbar-light page-navbar-color">
      <div class="full-width">
          <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
      </div>
  </nav>
</div>