<nav class="navbar fixed-top row navbar-light page-navbar-color">
  <a href="widget-list.html"><i class="fas fa-less-than page-icons"></i></a>
  <div class="col">
      <span id="h2-grey"><strong>Choose Widget</strong></span>
  </div>
</nav>

<div class="container-fluid">
  <ul>
      <li><a href="widget-heading.html"> Header </a></li>
      <li><a href="#"> Label </a></li>
      <li><a href="#"> HTML </a></li>
      <li><a href="#"> Text Input </a></li>
      <li><a href="#"> Link </a></li>
      <li><a href="#"> Button </a></li>
      <li><a href="widget-image.html"> Image </a></li>
      <li><a href="widget-youtube.html"> Youtube </a></li>
      <li><a href="#"> Data Table </a></li>
      <li><a href="#"> Repeater </a></li>
  </ul>
</div>

<nav class="navbar fixed-bottom navbar-light page-navbar-color">
  <div class="full-width">
      <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
  </div>
</nav>