/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f8f8f8;
  }
  ul li {
    list-style: none;
    color: #337ab7;
    padding-bottom: 12px;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    font-size: 18px;
  }
  .shift-up {
    margin-bottom: 6px;
  }
  .head-footer {
    background-color: #337ab7;
  }
  #h2-white {
    color: #fff;
    font-weight: 350;
    font-size: 26px;
  }
  #h2-grey {
    color: #747474;
    font-weight: 350;
    font-size: 28px;
    padding-bottom: 5px;
  }
  .icons-right {
    color: #fff;
    font-size: 20px;
    padding: 6px 12px;
  }
  .icons-left {
    color: #fff;
    float: left;
    font-size: 20px;
    padding: 20px 15px;
  }
  .form-label {
    font-weight: 730;
  }
  .checkmark-right {
    color: #fff;
    float: right;
    font-size: 20px;
  }
  .cog-right {
    float: right;
    padding-right: 0px;
  }
  #textarea-padding {
    padding-left: 18px;
    padding-right: 10px;
  }
  .checkmark-grid {
    color: #fff;
    font-size: 20px;
    padding: 0px 6px;
  }
  .page-icons {
    color: #000;
    font-size: 18px;
    padding: 0px 10px;
  }
  .full-width {
    width: 100%;
  }
  .small-min-width {
    width: 95%;
    min-width: 300px;
  }
  .small-min-width-website-edit {
    width: 95%;
    min-width: 220px;
  }
  .icon-position {
    padding-top: 10px;
  }
  .vertical-rule {
    border-right: 1px solid #c7c7c7;
  }
  .sw-full-screen {
    position: absolute;
    bottom: 0;
    top: 65px;
    left: 0;
    right: 0;
  }
  .list-format-padding {
    padding-left: 20px;
  }
  .fa-user:hover {
    color: none;
  }
  .user-icons {
    color: #337ab7;
    font-size: 20px;
    padding: 6px 12px;
  }
  .widget-list-icon-width {
    min-width: 50px;
  }
  .push-icons-down {
    padding-top: 6px;
  }
  .page-navbar-color {
    background-color: #b9b9b9;
  }
  .absolute-right {
    position: absolute;
    right: 15px;
    z-index: 2;
    background-color: #fff;
    border-radius: 2px;
  }
  