<nav class="navbar fixed-top row navbar-light page-navbar-color">
    <a href="widget-list.html"><i class="fas fa-less-than page-icons"></i></a>
    <div class="col">
        <span id="h2-grey"><strong>Widget Edit</strong></span>
    </div>
    <a href="widget-list.html"><i class="fas fa-check page-icons float-right"></i></a>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" placeholder="Image Name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="text" class="form-label">Text</label>
            <input type="text" placeholder="Image Text" id="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="url" class="form-label">URL</label>
            <input type="text" placeholder="Image URL" id="url" class="form-control">
        </div>
        <div class="form-group">
            <label for="width" class="form-label">Width</label>
            <input type="text" placeholder="Image Width" id="width" class="form-control">
        </div>
        <!-- Use input type="file" -->
        <div class="form-group">
            <label for="upload-img" class="form-label">Upload</label>
            <!-- Look at option to allow user to upload some image from their end -->
            <input type="file" accept=".jpg, .jpeg, .png" id="upload-img" class="form-control-file">
        </div>
        <button class="btn btn-primary btn-block">Upload Image</button>
        <a href="widget-list.html" class="btn btn-danger btn-block">Delete</a>
    </form>
</div>

<nav class="navbar fixed-bottom navbar-light page-navbar-color">
    <div class="full-width">
        <a href="../User_Pages/profile.html"><i class="fas fa-user float-right user-icons"></i></a>
    </div>
</nav>